{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rango
{% endblock %}

{% block body_block %}
	<h1>Add a Page</h1>
	<div>
		{% if category %}

		<form id='page_id' method='POST' action="{% url 'show_category' category.slug %}">
			
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}

			<input type='submit' name='submit' value='Add Page' />
		</form>
		{% else %}
			The specified category does not exist!
		{% endif %}
{% endblock %}