<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<title>
				Rango - 
		       	{% block title_block %}
		       		How to Tango with Django!
		       	{% endblock %}
		</title>
	</head>
	<body>
		<div>
			{% block body_block %}
				This is body_block's default content.
			{% endblock %}
		</div>
		<!-- <div>
			{% block sidebar_block %}
				{% get_category_list category %}
			{% endblock %}
		</div> -->
		<hr>
		<div>
			<ul>
				<li><a href = "{% url 'add_category' %}">Add New Category</a></li>
				<li><a href = "{% url 'about' %}">About</a></li>
				<li><a href = "{% url 'index' %}">Index</a></li>
				<li><a href = "{% url 'register' %}">Sign Up</a></li>
				<li><a href = "{% url 'login' %}">Login</a></li>
			</ul>
		</div>
	</body>
</html>