{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<div class="jumbotron">
	<h1 class='display-3'>This is where something cool stays...</h1>
		{% if user.is_authenticated %}
			Hello, {{ user.username.title }}! You've had {{ visits }} visit(s) on this site.
		{% else %}
			Hello, Unregistered Fellow.
		{% endif %}
		<strong>{{ boldmessage }}</strong><br>
</div>
<div class="row marketing">
	<div class='col-lg-6'>
	<h4>Most Liked Categories</h4>
	<p>
	{% if categories %}
	<ul class="list-group">
		{% for category in categories %}
			<li class="list-group-item">
			<a href = "{% url 'show_category' category.slug %}">{{ category.name }}</a>
			</li class="list-group-item">
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	</p>
	</div>
	<div class='col-lg-6'>
	<h4>Most Viewed Pages</h4>
	<p>
	{% if pages %}
	<ul class="list-group">
		{% for page in pages %}
			<li class="list-group-item"><a href ='{{ page.url }}'>{{ page.title }}</a></li>
		{% endfor %}
	</ul class="list-group">
	{% else %}
		<strong>There are no pages present.</strong>
	{% endif %}
	</p>
	</div>
</div>
	<div><img src = "{% static 'images/image.jpg' %}" alt="Rango picture"/></div>
	<!-- <ul class="li class="list-group-item"st-group">
	{% if user.is_authenticated %}
		<li class="list-group-item"><a href="{% url 'restricted' %}">Restricted Page</a></li class="list-group-item">
		<li class="list-group-item"><a href="{% url 'auth_logout' %}">Logout</a></li class="list-group-item">
	{% else %}
		<li class="list-group-item"><a href="{% url 'auth_login' %}">Login</a></li class="list-group-item">
		<li class="list-group-item"><a href="{% url 'registration_register' %}">Register</a></li class="list-group-item">
	{% endif %}
		<li class="list-group-item"><a href="{% url 'add_category' %}">Add a New Category</a></li class="list-group-item">
		<li class="list-group-item"><a href="{% url 'about' %}">About</a></li class="list-group-item">
		<li class="list-group-item"><a href="{% url 'index' %}">Index</a></li class="list-group-item">
	</ul class="li class="list-group-item"st-group"> -->
{% endblock %}