{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	RANGO
{% endblock %}

{% block body_block %}
	<h1>Rango says...</h1>
	<div>
		{% if user.is_authenticated %}
			Hello, {{ user.username }}!
		{% else %}
			Hello, Unregistered Fellow.
		{% endif %}
		<strong>{{ boldmessage }}</strong><br>
	</div>
		<h1>Most Liked Categories</h1>
	<div>
	{% if categories %}
	<ul>
		{% for category in categories %}
			<li>
			<a href = "{% url 'show_category' category.slug %}">{{ category.name }}</a>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	</div>
	<h1>Most Viewed Pages</h1>
	<div>
	{% if views %}
	<ul>
		{% for view in views %}
			<li><a href ='{{ view.url }}'>{{ view.title }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	<ul>
	{% if user.is_authenticated %}
		<li><a href="{% url 'restricted' %}">Restricted Page</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
		<li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'register' %}">Register</a></li>
	{% endif %}
		<li><a href="{% url 'add_category' %}">Add a New Category</a></li>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'index' %}">Index</a></li>
		<div><img src = "{% static 'images/image.jpg' %}" alt="Rango picture"/></div>
	</ul>
{% endblock %}